@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }

  .bg-pattern {
    background: url('/path-to-your-pattern.png') no-repeat center center;
    background-size: cover;
  }

  /* styles/globals.css */

  .slanted-cards {
    position: relative;
    overflow: visible;
    /* Ensure overflow is visible to allow cards to extend outside the container */
  }

  .slanted-card {
    position: absolute;
    bottom: 0;
    transform-origin: bottom center;
    /* Ensure cards stack from the bottom */
    transition: transform 0.3s ease-in-out;
  }

  .slanted-card-1 {
    transform: rotate(-6deg) translate(4px, 4px);
    /* Adjust according to your design */
  }

  .slanted-card-2 {
    transform: rotate(-3deg) translate(2px, 2px);
    /* Adjust according to your design */
  }

  .slanted-card-4 {
    transform: rotate(6deg) translate(-4px, -4px);
    /* Adjust according to your design */
  }


  .bg-orange-500 {
    background-color: #F59E0B;
    /* Orange background color */
  }

  .custom-background {
    margin: 1rem;
    border-radius: 12px;
    background-color: #1a237e;
    background-image: linear-gradient(30deg,
        #f74581 12%,
        transparent 12.5%,
        transparent 87%,
        #f74581 87.5%,
        #f74581),
      linear-gradient(150deg,
        #f74581 12%,
        transparent 12.5%,
        transparent 87%,
        #f74581 87.5%,
        #f74581),
      linear-gradient(30deg,
        #f74581 12%,
        transparent 12.5%,
        transparent 87%,
        #f74581 87.5%,
        #f74581),
      linear-gradient(150deg,
        #f74581 12%,
        transparent 12.5%,
        transparent 87%,
        #f74581 87.5%,
        #f74581),
      linear-gradient(60deg,
        #f7458177 25%,
        transparent 25.5%,
        transparent 75%,
        #f7458177 75%,
        #f7458177),
      linear-gradient(60deg,
        #f7458177 25%,
        transparent 25.5%,
        transparent 75%,
        #f7458177 75%,
        #f7458177);
    background-size: 80px 140px;
    background-position: 0 0, 0 0, 40px 72px, 40px 72px, 0 0, 40px 72px;
  }

  .card-stack {
    width: 400px;
    height: 400px;
    perspective: 1000px;
  }

  .card-stack .card {
    position: absolute;
    width: 15rem;
    height: 22rem;
    border-radius: 12px;
    border-color: white;
    border-width: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }

  .card-stack .card:nth-child(1) {
    transform: translate(10px, -10px) translateZ(0px) rotateY(0deg);
  }
  
  .card-stack .card:nth-child(2) {
    transform: translate(20px, -20px) translateZ(-20px) rotateY(0deg);
  }
  
  .card-stack .card:nth-child(3) {
    transform: translate(30px, -30px) translateZ(-40px) rotateY(0deg);
  }



  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  /* styles.css or globals.css */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.word {
  display: inline-block;
  opacity: 0;
  animation: fadeIn 1s forwards;
}

.word-heading {
  animation-delay: 0s;
}

.word-paragraph{
  display: inline-block;
  opacity: 0;
  animation: fadeIn 1s forwards;
  animation-delay: 1.4s; /* Adjust delay as needed */
}

.word-paragraph:nth-child(1) {
  animation-delay: 1.4s;
}

.word-paragraph:nth-child(2) {
  animation-delay: 1.6s;
}

.word-paragraph:nth-child(3) {
  animation-delay: 1.8s;
}

.word-paragraph:nth-child(4) {
  animation-delay: 2s;
}

.word-paragraph:nth-child(5) {
  animation-delay: 2.2s;
}

.word-paragraph:nth-child(6) {
  animation-delay: 2.4s;
}

.word-paragraph:nth-child(7) {
  animation-delay: 2.6s;
}

.word-paragraph:nth-child(8) {
  animation-delay: 2.8s;
}

.word-paragraph:nth-child(9) {
  animation-delay: 3s;
}

.word-paragraph:nth-child(10) {
  animation-delay: 3.2s;
}

.word-paragraph:nth-child(11) {
  animation-delay: 3.4s;
}

.word-paragraph:nth-child(12) {
  animation-delay: 3.6s;
}

.word-paragraph:nth-child(13) {
  animation-delay: 3.8s;
}


.word:nth-child(1) {
  animation-delay: 0s;
}

.word:nth-child(2) {
  animation-delay: 0.2s;
}

.word:nth-child(3) {
  animation-delay: 0.4s;
}

.word:nth-child(4) {
  animation-delay: 0.6s;
}

.word:nth-child(5) {
  animation-delay: 0.8s;
}

.word:nth-child(6) {
  animation-delay: 1s;
}

.word:nth-child(7) {
  animation-delay: 1.2s;
}

.word:nth-child(8) {
  animation-delay: 1.4s;
}

.word:nth-child(9) {
  animation-delay: 1.6s;
}

.word:nth-child(10) {
  animation-delay: 1.8s;
}

.word:nth-child(11) {
  animation-delay: 2.0s;
}



}